@{
    ViewBag.Title = "Wittie Law | FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id="page5">
    <div class="extra">
        <!--==============================header=================================-->
        <header>
            <div class="main">
                <div class="border-top">
                    <div class="wrapper">
                        <h1><a href="~/home/index">Wittie Law</a></h1>
                        <nav>
                            <ul class="menu">
                                <li><a class="active" href="~/home/index">Home</a></li>
                                <li><a class="active" href="~/Home/about">About</a></li>

                                <li><a href="~/Home/bankruptcy">Bankruptcy</a></li>
                                <li><a href="~/Home/courses">Courses</a></li>
                                <li><a href="~/Home/faq">FAQ</a></li>
                                <li><a href="~/Home/Contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="slider-bg">
                    <div class="slider">

                    </div>
                </div>
            </div>
        </header>
        <!--==============================content================================-->
        <section id="content">
            <div class="main">
                <div class="container_12">
                    <div class="wrapper">
                        <article class="grid_12">
                            <div class="indent-left">
                                <h3 class="p0">Courses on ​​Bankruptcy​ Offered ​b​y Leisure Learning​ Unlimited</h3>
                                <h6>Bankruptcy in Plain Language </h6>
                                <p class="img-indent-bot">Is bankruptcy just another way the rich get richer? What did Congress do to the credit system when it created the consumer bankruptcy laws in 1978? Congress, under pressure from the creditor lobby, tried to kill bankruptcy in 2005, but don't fear; it's alive and well. It has more complications, but consumers and small businesses can still file for bankruptcy. Why does someone file bankruptcy and who can do it? Who wins and when do they win at bankruptcy? Learn the ups and downs of bankruptcy, explained in plain language. Topics include consumer dilemmas; resolving the new requirements; business strategies; pre-bankruptcy planning, and, if you file, what property you keep.</p>
                                <div class="indent-left">



                                    <h6>
                                        <p class="img-indent-bot"><p>Instructor:  E. Sue Wittie</p>
                                        </p>
                                        <p>Location: Leisure Learning Unlimited  - 2990 Richmond Ave. Houston TX 77098: Richmond/Kirby</p>
                                       
                                        <p>Fee:   $15</p>
                                    </h6>

</div>
                                </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="block"></div>
        </section>
    </div>
    <!--==============================footer=================================-->
    <footer>
        <div class="main">
            <div class="footer-bg">
                <div class="aligncenter">
                    Copyright &copy; <a href="http://wittielaw.com">Wittie Law</a> All Rights Reserved<br>
                    Design by<a target="_blank" href="http://www.cobysolutions.com/">CobySolutions</a>
                </div>
            </div>
        </div>
    </footer>
</body>
